.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

img {
    border-radius: 28px;
    border-radius: 28px;
}

main {
    padding: 0px 80px;
    padding-top: 88px;
}

:root {  
  line-height: 150%;
}

li::marker {
  color: #1B1B1B;
}

li.blue-color {
  color:#0C51A7
}

ul {
  padding: 0px;
  :nth-child(1n) {
  color:#0C51A7;
}
 :nth-child(2n) {
  color:#591B98;
}
 :nth-child(3n) {
  color:#E5245E;
}
 :nth-child(4n) {
  color:#E95E10;
}
}

li.purple-color{
  color:#591B98
}

li.pink-color{
  color:#E5245E
}

li.orange-color{
  color:#E95E10
}

.black-color {
  color: #1B1B1B
}

html {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.red-color {
  color: #E1624F;
}

.blue-color {
  color:#0C51A7
}

.center {
  text-align: center;
}

.gray-color {
  color:#333333
}

footer {
  text-align: center;
}
